body {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 margin: 0;
 background-color: rgb(59 70 100);
}

.container {
 text-align: center;
}

#birthday-card {
 background-color:#181f32;
 padding: 20px;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
 color: bisque;
}
h3{
 color: bisque;
}
i{
 color: darkorchid;
}
img{
 width: 300px;
}
